<div class="container">
    <div class="">
         <h1>商品追加</h1>
         <div class="addditem">
	<table>
		<tr>
			<td>年代</td>
			<td><select name="年代">
        	<option value="1860">1980年代前半</option>
        	<option value="1860">1980年代後半</option>
        	<option value="1860">1990年代前半</option>
        	<option value="1860">1990年代後半</option>
        	<option value="1860">2000年代前半</option>
        	<option value="1860">2000年代後半</option>
        	<option value="1860">2010年代後半</option>
        	<option value="1860">2010年代後半</option>
            </select></td>
        </tr>
        <tr>
        <td>アーティスト</td>
			<td><select name="年代">
        	<option value="mrchildren">mr.children</option>
        	<option value="edsheeran">ed sheeran</option>
            </select></td>
        </tr>
        <tr>
            <td>アルバム/シングル名</td>
            <td> <form><input type="text" class="form-control" id="title"></form></td>
        </tr>
        <tr>
            <td>ジャケット画像</td>
            <td><input type="text" class="form-control" id="jacket_image"></td>
            <td><button type="button" class="btn btn-default">選択</button></td>
        </tr>
        <tr>
            <td>値段</td>
            <td> <input type="text" class="form-control" id="price"><p>円</p></td>
        </tr>
        <tr>
            <td>レーベル名</td>
            <td><select name="レーベル名">
            <option value="toys">トイズファクトリー</option>
            <option value="aaaa">あああああ</option>
            </select></td>
        </tr>
        <tr>
            <td>ジャンル</td>
            <td><select name="ジャンル">
            <option value="toys">トイズファクトリー</option>
            <option value="aaaa">あああああ</option>
            </select></td>
        </tr>
        <tr>
            <td>曲名</td>
            <td>Disk 1</td>
            <td><button type="button" class="btn btn-default">選択</button></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><span>1.</span><input type="text" class="form-control" id="song"></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><span>2.</span></td>
            <td><input type="text" class="form-control" id="song2"></td>
        </tr>
        <tr>
            <td>在庫数</td>
            <td><input type="text" class="form-control" id="title"><p>枚</p></td>




    </table>

</div>

<button type="button" class="btn btn-default btn-enter">選択</button>

</div>