<footer class="navbar navbar-fixed-bottom navbar-inverse">
  <div class="container">
    <nav>
      <div class="slidemenu">
        <p class="nav navbar-nav navbar-left">© recommended by ASAHI</p>
      </div>
    </nav>
  </div>
</footer>